NEXT_PUBLIC_SUPABASE_URL="<url del proyecto>"
NEXT_PUBLIC_SUPABASE_ANON_KEY="<anon_key>"
SUPABASE_SERVICE_ROLE_KEY="<service_role_key>"
DATABASE_URL="postgresql://postgres:<password>@db.<id>.supabase.co:5432/postgres"

